/build*/
/dist/
/test-results/
/.sconsign*
/.config
/cconfig.h
/rtua.py
/compile_commands.json
/sdk/
/.sifli-tools/
/.vscode/
/.vs/
**/__pycache__/
*.pyc
*.o
*.obj
*.elf
*.axf
*.map
*.bin
*.hex
*.uf2
*.exe
*.log
*.pcap
*.pcapng
*.dmp
*.user
.env
.env.*
*.key
*.pem
*.pfx
*.p12
